<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rishabh Rathore">
    <link rel="stylesheet" href="/Components/Typography/typography.css">
    <title>Typography</title>
</head>

<body>
    
    <!-- Headings -->

    <div class="heading heading-1">Example of Heading - 1</div>


    <div class="heading heading-2">Example of Heading - 2</div>


    <div class="heading heading-3">Example of Heading - 3</div>


    <div class="heading heading-4">Example of Heading - 4</div>


    <div class="heading heading-5">Example of Heading - 5</div>


    <div class="heading heading-6">Example of Heading - 6</div>

    <!-- Text Sizes -->

    <div class="text text-xs">Extra Small Text</div>


    <div class="text text-sm">Small Text</div>


    <div class="text text-md">Medium Text</div>


    <div class="text text-lg">Large Text</div>

    <!-- Text Positions -->

    <div class="text text-left">Left Aligned Text</div>


    <div class="text text-center">Center Aligned Text</div>


    <div class="text text-right">Right Aligned Text</div>

<!-- Colored Text -->

    <div class="text text-color-primary">Primary Colored Text Example</div>

    <div class="text text-color-secondary">Secondary Colored Text Example</div>

    <div class="text text-color-success">Success Colored Text Example</div>

    <div class="text text-color-warn">Warning Colored Text Example</div>

    <div class="text text-color-error">Error Colored Text Example</div>



</body>

</html>