<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="badges.css">
    <script src="https://kit.fontawesome.com/fa8f01e628.js" crossorigin="anonymous"></script>
    <title>Badges</title>
</head>

<body>

    <!-- Avatar Live Status Badges -->

    <div class="avatar avatar-lg-size">
        <img class="img-responsive img-round" src="https://i.pravatar.cc/?" alt="Badge">
        <span class="status online"></span>
    </div>

    <div class="avatar avatar-md-size">
        <img class="img-responsive img-round" src="https://i.pravatar.cc/?" alt="Badge">
        <span class="status offline"></span>
    </div>

    <div class="avatar avatar-sm-size">
        <img class="img-responsive img-round" src="https://i.pravatar.cc/?" alt="Badge">
        <span class="status idle"></span>
    </div>

    <div class="avatar avatar-xs-size">
        <img class="img-responsive img-round" src="https://i.pravatar.cc/?" alt="Badge">
        <span class="status online"></span>
    </div>
    
    
    
    <!-- Icon Notification Badges -->

    <div class="icon-parent">
        <i class="icon fa-solid fa-cart-shopping fa-2xl"></i>
        <span class="count">5</span>
    </div>

    <div class="icon-parent">
        <i class="icon fa-solid fa-bell fa-2xl"></i>
        <span class="count">8</span>
    </div>

    <!-- Text Badges -->

    <h1 class="text-badge-container">This is example of h1 Heading with Badge <span class="text-badge bg-primary"> New </span></h1>

    <h2 class="text-badge-container">This is example of h2 Heading with Badge <span class="text-badge bg-primary"> Pending </span></h2>

    <h3 class="text-badge-container">This is example of h3 Heading with Badge <span class="text-badge bg-primary round-pill "> New </span></h3>

    <h4 class="text-badge-container">This is example of h4 Heading with Badge <span class="text-badge bg-secondary"> New </span></h4>

    <h5 class="text-badge-container">This is example of h5 Heading with Badge <span class="text-badge bg-secondary"> Pending </span></h5>

    <h6 class="text-badge-container">This is example of h6 Heading with Badge <span class="text-badge bg-secondary round-pill"> New </span></h6>

</body>

</html>