.avatar {
    border: 2px solid white;
}

.avatar-xl-size {
    width: 15rem;
    height: 15rem;
}

.avatar-lg-size {
    width: 10rem;
    height: 10rem;
}

.avatar-md-size {
    width: 7rem;
    height: 7rem; 
}

.avatar-sm-size {
    width: 4rem;
    height: 4rem; 
}

.avatar-xs-size {
    width: 1.5rem;
    height: 1.5rem; 
}

.img-round {
    border-radius: 50%;
}