@import url(/Styles/all-imports.css);


.bg-img {
    background-image: url(/Assets/cosmos4.jpg);
    background-size: cover;
}

.nav-bar {
    box-shadow: 0px 6px 10px 1px var(--tertiary-color);
}

.bg-img-blur {
    background-color: rgba(255,255,255,0.2);
    width: 100%;
    height: 100%;
}

.section {
    margin: 8rem 5rem;
}

.nav-logo-title {
    color: var(--tertiary-color);
}

/* Code rewrite for homepage grids */
.grid-50-50-layout {
    color: var(--secondary-color);
    border-radius: 0.5rem;
}

.text-container {
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.btn-no-link {
    text-decoration: none;
}


.section .btn {
    padding: 0.5rem 1rem;
}



footer {
    text-align: center;
    box-sizing: border-box;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 3rem;
    margin: 0rem;
    width: 100%;
    height: 10rem;
}

.footer-social-links {
    margin: 1rem;
    color: var(--primary-color);   
}