<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components/buttons.css">
    <script src="https://kit.fontawesome.com/fa8f01e628.js" crossorigin="anonymous"></script>

    <title>Buttons</title>
</head>
<body>
    <button class="btn btn-primary">Primary Button</button>

    <button class="btn btn-secondary">Secondary Button</button>

    <button class="btn btn-link"><a class="btn-link"href="#">Link Button</a>
    </button>


    <button class="btn btn-icon"><i class="fa-solid fa-cart-shopping"></i></button>


    <button class="btn btn-primary-with-icon"><i class="icon-in-btn fa-solid fa-cart-plus"></i>Add to Cart</button>


    <button class="btn btn-fab"><i class="fa-solid fa-circle-plus"></i></button>

</body>
</html>