<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rishabh Rathore">
    <link rel="stylesheet" href="/Components/Toasts-Ratings/toasts.css">
    <script src="https://kit.fontawesome.com/fa8f01e628.js" crossorigin="anonymous"></script>
    <title>Toasts</title>
</head>

<body>

    <div class="toast toast-success">
        Successfully Submitted!!
        <button type="button" class="btn btn-close">
            <i class="fa-solid fa-xmark fa-lg"></i>
        </button>
    </div>

    <div class="toast toast-error">
        Error! Please try again!
        <button type="button" class="btn btn-close">
            <i class="fa-solid fa-xmark fa-lg"></i>
        </button>
    </div>

    <div class="toast toast-inform">
        Connecting......
        <button type="button" class="btn btn-close">
            <i class="fa-solid fa-xmark fa-lg"></i>
        </button>
    </div>



</body>

</html>