<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rishabh Rathore">
    <link rel="stylesheet" href="/Components/Simplified-Grid/grids.css">
    <script src="https://kit.fontawesome.com/fa8f01e628.js" crossorigin="anonymous"></script>
    <title>Grids-Simplified</title>
</head>

<body>

    <div class="grid-50-50-layout">
        <div>
            <img class="img-responsive" src="/Assets/boysShoesLS.jpg">
        </div>
        <div class="text-container">
            <h1 class="text-container-title">King of Shoes</h1>
            <h3 class="text-container-desc">Best Value @ Rs.999</h3>
            <a class="btn btn-primary">Explore</a>
        </div>
    </div>




    <div class="grid-70-30-layout">
        <div>
            <img class="img-responsive" src="/Assets/boysShoesLS.jpg">
        </div>
        <div class="text-container">
            <h1 class="text-container-title">King of Shoes</h1>
            <h3 class="text-container-desc">Best Value @ Rs.999</h3>
            <a class="btn btn-primary">Explore</a>
        </div>
    </div>


    <div class="grid-30-70-layout">
        <div>
            <img class="img-responsive" src="/Assets/boysShoesLS.jpg">
        </div>
        <div class="text-container">
            <h1 class="text-container-title">King of Shoes</h1>
            <h3 class="text-container-desc">Best Value @ Rs.999</h3>
            <a class="btn btn-primary">Explore</a>
        </div>
    </div>




    <div class="grid-4-column-layout">

        <div class="card-container">
            <img src="/Assets/girlShoes1.jpg" alt="Product-Image" class="card-img">
            <h3 class="card-title">Artistic Weapon</h3>
            <h5 class="card-subtitle">Indian Mother's/Gf's Brahmastra</h5>
            <p class="card-para">Will hit best when aimed for head with pointed heel.</p>
            <div class="card-actions-container">
                <div class="card-buttons-container">
                    <button class="card-button">Buy</button>
                    <button class="card-button">Add to Cart</button>
                </div>
                <div class="card-icons-conatainer">
                    <i class="card-icon fa-regular fa-heart"></i>
                    <i class="card-icon fa-solid fa-share-nodes"></i>
                    <i class="card-icon fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
        </div>


        <div class="card-container">
            <img src="/Assets/girlShoes1.jpg" alt="Product-Image" class="card-img">
            <h3 class="card-title">Artistic Weapon</h3>
            <h5 class="card-subtitle">Indian Mother's/Gf's Brahmastra</h5>
            <p class="card-para">Will hit best when aimed for head with pointed heel.</p>
            <div class="card-actions-container">
                <div class="card-buttons-container">
                    <button class="card-button">Buy</button>
                    <button class="card-button">Add to Cart</button>
                </div>
                <div class="card-icons-conatainer">
                    <i class="card-icon fa-regular fa-heart"></i>
                    <i class="card-icon fa-solid fa-share-nodes"></i>
                    <i class="card-icon fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <div class="card-badge">New</div>
        </div>

        <div class="card-container">
            <img src="/Assets/girlShoes1.jpg" alt="Product-Image" class="card-img">
            <h3 class="card-title">Artistic Weapon</h3>
            <h5 class="card-subtitle">Indian Mother's/Gf's Brahmastra</h5>
            <p class="card-para">Will hit best when aimed for head with pointed heel.</p>
            <div class="card-actions-container">
                <div class="card-buttons-container">
                    <button class="card-button">Buy</button>
                    <button class="card-button">Add to Cart</button>
                </div>
                <div class="card-icons-conatainer">
                    <i class="card-icon fa-regular fa-heart"></i>
                    <i class="card-icon fa-solid fa-share-nodes"></i>
                    <i class="card-icon fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <div class="card-text-overlay-container">
                <h2 class="card-overlay-text">Sold Out</h2>
            </div>
        </div>


        <div class="card-container">
            <img src="/Assets/girlShoes1.jpg" alt="Product-Image" class="card-img">
            <h3 class="card-title">Artistic Weapon</h3>
            <h5 class="card-subtitle">Indian Mother's/Gf's Brahmastra</h5>
            <p class="card-para">Will hit best when aimed for head with pointed heel.</p>
            <div class="card-actions-container">
                <div class="card-buttons-container">
                    <button class="card-button">Buy</button>
                    <button class="card-button">Add to Cart</button>
                </div>
                <div class="card-icons-conatainer">
                    <i class="card-icon fa-regular fa-heart"></i>
                    <i class="card-icon fa-solid fa-share-nodes"></i>
                    <i class="card-icon fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <div class="card-badge">New</div>
        </div>
    </div>


</body>

</html>