<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">
    <link rel="stylesheet" href="/avatar.css">
    <title>Avatars</title>
</head>

<body>

    <!--Round Image Avatars Below -->

    <img class="avatar avatar-xl-size img-round" src="https://i.pravatar.cc/" alt="avatar">

    <img src="https:/i.pravatar.cc/" alt="avatar" class="avatar avatar-lg-size img-round">

    <img src="https:/i.pravatar.cc/" alt="avatar" class="avatar avatar-md-size img-round">

    <img src="https:/i.pravatar.cc/" alt="avatar" class="avatar avatar-sm-size img-round">

    <img src="https:/i.pravatar.cc/" alt="avatar" class="avatar avatar-xs-size img-round">


    <!--Sqaure Image Avatars Below -->

    <img class="avatar avatar-xl-size img-square" src="https://i.pravatar.cc/?" alt="avatar">

    <img src="https:/i.pravatar.cc/?" alt="avatar" class="avatar avatar-lg-size img-square">

    <img src="https:/i.pravatar.cc/?" alt="avatar" class="avatar avatar-md-size img-square">

    <img src="https:/i.pravatar.cc/?" alt="avatar" class="avatar avatar-sm-size img-square">

    <img src="https:/i.pravatar.cc/?" alt="avatar" class="avatar avatar-xs-size img-square">


    <!-- Round Text Avatars Below -->

    <div class="avatar avatar-xl-size avatar-txt-round" role="img" alt="avatar">RR</div>

    <div class="avatar avatar-lg-size avatar-txt-round" role="img" alt="avatar">RR</div>

    <div class="avatar avatar-md-size avatar-txt-round" role="img" alt="avatar">RR</div>

    <div class="avatar avatar-sm-size avatar-txt-round" role="img" alt="avatar">RR</div>

    <div class="avatar avatar-xs-size avatar-txt-round" role="img" alt="avatar">RR</div>


    <!--Sqaure Text Avatars Below -->

    <div class="avatar avatar-xl-size avatar-txt-square" role="img" alt="avatar">RR</div>

    <div class="avatar avatar-lg-size avatar-txt-square" role="img" alt="avatar">RR</div>

    <div class="avatar avatar-md-size avatar-txt-square" role="img" alt="avatar">RR</div>

    <div class="avatar avatar-sm-size avatar-txt-square" role="img" alt="avatar">RR</div>

    <div class="avatar avatar-xs-size avatar-txt-square" role="img" alt="avatar">RR</div>



</body>

</html>