<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cards.css">
    <script src="https://kit.fontawesome.com/fa8f01e628.js" crossorigin="anonymous"></script>
    <title>Cards</title>
</head>

<body>

    <!-- Card Basic -->


    <div class="card-container">
        <img src="/Assets/girlShoes1.jpg" alt="Product-Image" class="card-img">
        <h3 class="card-title">Artistic Weapon</h3>
        <h5 class="card-subtitle">Indian Mother's/Gf's Brahmastra</h5>
        <p class="card-para">Will hit best when aimed for head with pointed heel.</p>
        <div class="card-actions-container">
            <div class="card-buttons-container">
                <button class="card-button">Buy</button>
                <button class="card-button">Add to Cart</button>
            </div>
            <div class="card-icons-conatainer">
                <i class="card-icon fa-regular fa-heart"></i>
                <i class="card-icon fa-solid fa-share-nodes"></i>
                <i class="card-icon fa-solid fa-ellipsis-vertical"></i>
            </div>
        </div>
    </div>

    <!-- Card with Badge -->

    <div class="card-container">
        <img src="/Assets/girlShoes1.jpg" alt="Product-Image" class="card-img">
        <h3 class="card-title">Artistic Weapon</h3>
        <h5 class="card-subtitle">Indian Mother's/Gf's Brahmastra</h5>
        <p class="card-para">Will hit best when aimed for head with pointed heel.</p>
        <div class="card-actions-container">
            <div class="card-buttons-container">
                <button class="card-button">Buy</button>
                <button class="card-button">Add to Cart</button>
            </div>
            <div class="card-icons-conatainer">
                <i class="card-icon fa-regular fa-heart"></i>
                <i class="card-icon fa-solid fa-share-nodes"></i>
                <i class="card-icon fa-solid fa-ellipsis-vertical"></i>
            </div>
        </div>
        <div class="card-badge">New</div>
    </div>


    <!-- Card with Dismiss -->

    <div class="card-container">
        <img src="/Assets/girlShoes1.jpg" alt="Product-Image" class="card-img">
        <h3 class="card-title">Artistic Weapon</h3>
        <h5 class="card-subtitle">Indian Mother's/Gf's Brahmastra</h5>
        <p class="card-para">Will hit best when aimed for head with pointed heel.</p>
        <div class="card-actions-container">
            <div class="card-buttons-container">
                <button class="card-button">Buy</button>
                <button class="card-button">Add to Cart</button>
            </div>
            <div class="card-icons-conatainer">
                <i class="card-icon fa-regular fa-heart"></i>
                <i class="card-icon fa-solid fa-share-nodes"></i>
                <i class="card-icon fa-solid fa-ellipsis-vertical"></i>
            </div>
        </div>
        <button class="card-dismiss-button card-icon card-button"><i class="fa-regular fa-circle-xmark"></i></button>
    </div>

    <!-- Card with Text Overlay -->

    <div class="card-container">
        <img src="/Assets/girlShoes1.jpg" alt="Product-Image" class="card-img">
        <h3 class="card-title">Artistic Weapon</h3>
        <h5 class="card-subtitle">Indian Mother's/Gf's Brahmastra</h5>
        <p class="card-para">Will hit best when aimed for head with pointed heel.</p>
        <div class="card-actions-container">
            <div class="card-buttons-container">
                <button class="card-button">Buy</button>
                <button class="card-button">Add to Cart</button>
            </div>
            <div class="card-icons-conatainer">
                <i class="card-icon fa-regular fa-heart"></i>
                <i class="card-icon fa-solid fa-share-nodes"></i>
                <i class="card-icon fa-solid fa-ellipsis-vertical"></i>
            </div>
        </div>
        <div class="card-text-overlay-container">
            <h2 class="card-overlay-text">Sold Out</h2>
        </div>
    </div>


    <!-- Card with Text Only -->

    <div class="card-text-only-container">
        <div class="card-container">
            <h3 class="card-title">Black Holes</h3>
            <h5 class="card-subtitle">Black Holes deep dive!</h5>
            <p class="card-para">Black Holes are really really black like for real.</p>
            <div class="card-actions-container">
                <div class="card-buttons-container">
                    <button class="card-button">Read</button>
                    <button class="card-button">Bookmark</button>
                </div>
                <div class="card-icons-conatainer">
                    <i class="card-icon fa-regular fa-heart"></i>
                    <i class="card-icon fa-solid fa-share-nodes"></i>
                    <i class="card-icon fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <button class="card-dismiss-button card-icon card-button"><i
                    class="fa-regular fa-circle-xmark"></i></button>
        </div>
    </div>

    <!-- Card with Horizontal Layout -->

    <div class="card-horizontal-container">
        <div class="card-container">
            <div class="card-img-text-container">
                <img src="/Assets/girlShoes1.jpg" alt="Product-Image" class="card-img">
                <div class="card-text-container">
                    <h3 class="card-title">Artistic Weapon</h3>
                    <h5 class="card-subtitle">Indian Mother's/Gf's Brahmastra</h5>
                    <p class="card-para">Will hit best when aimed for head with pointed heel.</p>

                </div>
            </div>
            <div class="card-actions-container">
                <div class="card-buttons-container">
                    <button class="card-button">Buy</button>
                    <button class="card-button">Add to Cart</button>
                </div>
                <div class="card-icons-conatainer">
                    <i class="card-icon fa-regular fa-heart"></i>
                    <i class="card-icon fa-solid fa-share-nodes"></i>
                    <i class="card-icon fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <button class="card-dismiss-button card-icon card-button"><i
                    class="fa-regular fa-circle-xmark"></i></button>
        </div>
    </div>

</body>

</html>