<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rishabh Rathore">
    <link rel="stylesheet" href="/Components/Navigation/navigation.css">
    <script src="https://kit.fontawesome.com/fa8f01e628.js" crossorigin="anonymous"></script>
    <title>Navigation</title>
</head>

<body>

    <nav class="nav-bar">
        <div class="nav-section">
            <div class="nav-logo-title-container">
                <!-- Brand Logo -->
                <img class="nav-logo" src="/Assets/cosmosIcon.png" alt="Logo" width="60" height="60">
                <!-- Brand Title -->
                <h1 class="nav-logo-title">My Store</h1>
            </div>
        </div>


        <!-- search bar -->
        <div class="nav-section">
            <div class="search-bar">
                <span class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
                <input class="search-bar-input" type="text" placeholder="Type to search">
            </div>
        </div>


        <!-- Icons and Buttons -->
        <div class="nav-section">
            <div class="icon-parent">
                <i class="icon fa-solid fa-cart-shopping fa-xl"></i>
                <span class="count">0</span>
            </div>
            <div class="icon-parent">
                <i class="icon fa-regular fa-heart fa-xl"></i>
                <span class="count">0</span>
            </div>
            <button class="btn btn-link">
                <a class="btn-link" href="#">Cart</a>
            </button>
            <button class="btn btn-primary">Login</button>
        </div>


</body>

</html>