<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rishabh Rathore">
    <link rel="stylesheet" href="/Components/Lists/lists.css">
    <title>Lists</title>
</head>

<body>

    <!-- Spaced List -->

    <ul class="list-spaced">
        <p class="list-heading">List Heading</p>

        <li class="list-item">List Item 1</li>

        <li class="list-item">List Item 2</li>

        <li class="list-item">List Item 3</li>

        <li class="list-item">List Item 4</li>

        <li class="list-item">List Item 5</li>
    </ul>
    <br>


    <!-- Inline List -->

    <ul class="list-inline list-style-none">
        <li class="list-inline-item">List Item 1</li>
        <li class="list-inline-item">List Item 2</li>
        <li class="list-inline-item">List Item 3</li>
    </ul>
    <br>


    <!-- Stacked List -->

    <!-- list with numbers -->

    <ol class="ordered-list">
        <li>List item with numbers</li>
        <li>List item with numbers</li>
        <li>List item with numbers</li>
        <li>List item with numbers</li>
        <li>List item with numbers</li>
    </ol>
    <br>
    
    <!-- Reverse Stacked List -->

    <ol class="list-stacked" reversed>
        <li>Reversed list item 1</li>
        <li>Reversed list item 2</li>
        <li>Reversed list item 3</li>
        <li>Reversed list item 4</li>
        <li>Reversed list item 5</li>
    </ol>


</body>

</html>