@import url(/Styles/variables-and-fonts.css);

.alert {
    padding: 0.5rem 2rem 0.5rem 1rem;
    border-radius: 0.5rem;
    max-width: fit-content;
    margin: 1rem;
}

.btn-alert-primary {
    margin: 0.5rem;
}

.alert-primary {
    color: var(--alert-primary-text);
    background-color: var(--alert-primary-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-secondary {
    color: var(--alert-secondary-text);
    background-color: var(--alert-secondary-bg);
}

.alert-success {
    color: var(--alert-success-text);
    background-color: var(--alert-success-bg);
}

.alert-danger {
    color: var(--alert-danger-text);
    background-color: var(--alert-danger-bg);
}

.alert-warning {
    color: var(--alert-warn-text);
    background-color: var(--alert-warn-bg);
}

.alert-icons {
    margin: 0rem 0.3rem;
}